[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
User=k8s
Type=notify
EnvironmentFile=-/etc/k8s/kubernetes/kube-apiserver
ExecStart=/data/apps/k8s/kubernetes/bin/kube-apiserver \
  --enable-admission-plugins=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --bind-address=0.0.0.0 \
  --insecure-bind-address=10.10.10.22 \
  --insecure-port=8080 \
  --secure-port=6443 \
  --advertise-address=10.10.10.22 \
  --authorization-mode=Node,RBAC \
  --anonymous-auth=false \
  --runtime-config=api/all \
  --audit-policy-file=/etc/k8s/kubernetes/audit-policy.yaml \
  --enable-bootstrap-token-auth=true \
  --token-auth-file=/etc/k8s/ssl/token.csv \
  --service-cluster-ip-range=10.254.0.0/22 \
  --service-node-port-range=8400-9000 \
  --tls-cert-file=/etc/k8s/ssl/kubernetes.pem \
  --tls-private-key-file=/etc/k8s/ssl/kubernetes-key.pem \
  --client-ca-file=/etc/k8s/ssl/ca.pem \
  --service-account-key-file=/etc/k8s/ssl/ca-key.pem \
  --etcd-cafile=/etc/k8s/ssl/ca.pem \
  --etcd-certfile=/etc/k8s/ssl/etcd.pem \
  --etcd-keyfile=/etc/k8s/ssl/etcd-key.pem \
  --etcd-servers=https://10.10.10.22:2379,https://10.10.10.23:2379,https://10.10.10.24:2379 \
  --enable-swagger-ui=true \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/data/apps/k8s/kubernetes/logs/apiserver/audit.log \
  --storage-backend=etcd3 \
  --event-ttl=168h \
  --alsologtostderr=true \
  --logtostderr=false \
  --log-dir=/data/apps/k8s/kubernetes/logs/apiserver \
  --v=2

Restart=on-failure
RestartSec=5
LimitNOFILE=65536
