[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
User=k8s
ExecStart=/data/apps/k8s/kubernetes/bin/kube-controller-manager \
  --port=0 \
  --secure-port=10252 \
  --bind-address=127.0.0.1 \
  --kubeconfig=/etc/k8s/kubeconfig/kube-controller-manager.kubeconfig \
  --service-cluster-ip-range=10.254.0.0/22 \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/etc/k8s/ssl/ca.pem \
  --cluster-signing-key-file=/etc/k8s/ssl/ca-key.pem \
  --root-ca-file=/etc/k8s/ssl/ca.pem \
  --service-account-private-key-file=/etc/k8s/ssl/ca-key.pem \
  --leader-elect=true \
  --feature-gates=RotateKubeletServerCertificate=true \
  --controllers=*,bootstrapsigner,tokencleaner \
  --horizontal-pod-autoscaler-use-rest-clients=true \
  --horizontal-pod-autoscaler-sync-period=10s \
  --tls-cert-file=/etc/k8s/ssl/kube-controller-manager.pem \
  --tls-private-key-file=/etc/k8s/ssl/kube-controller-manager-key.pem \
  --use-service-account-credentials=true \
  --alsologtostderr=true \
  --logtostderr=false \
  --log-dir=/data/apps/k8s/kubernetes/logs/controller-manager \
  --flex-volume-plugin-dir=/data/apps/k8s/kubernetes/libexec/kubernetes \
  --v=2

Restart=on
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
